@model SaleItem;
@{
    ViewData["Title"] = "Edit";
}
<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleItemId" class="control-label"></label>
                <input asp-for="SaleItemId" class="form-control" />
                <span asp-validation-for="SaleItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seq" class="control-label"></label>
                <input asp-for="Seq" class="form-control" />
                <span asp-validation-for="Seq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookNum" class="control-label"></label>
                <input asp-for="BookNum" class="form-control" />
                <span asp-validation-for="BookNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTotal" class="control-label"></label>
                <input asp-for="BookTotal" class="form-control" />
                <span asp-validation-for="BookTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleId" class="control-label"></label>
                <input asp-for="SaleId" class="form-control" />
                <span asp-validation-for="SaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertBy" class="control-label"></label>
                <input asp-for="InsertBy" class="form-control" />
                <span asp-validation-for="InsertBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>