@model Book_Reservation.Models.BookStock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookStock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="BookStock" asp-action="Edit" asp-route-id="@Model.BookStockId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input asp-for="BookStockId" type="hidden" />
            <input asp-for="BookId" type="hidden" />*@
            
            <div class="form-group">
                <label asp-for="NumStock" class="control-label"></label>
                <input asp-for="NumStock" class="form-control" />
                <span asp-validation-for="NumStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertBy" class="control-label"></label>
                <input asp-for="InsertBy" class="form-control" readonly/>
                <span asp-validation-for="InsertBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" readonly/>
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" value="@ViewBag.UpdateDate"/>
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <input asp-for="BookStockStatus" type="hidden" value="True" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>